<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>

        <p>Click the button below to open the style guide</p>

        <p><a class="btn btn-primary btn-lg" href="/page/styleguide.html" role="button">Open Styleguide</a></p>
    </div>
</div>
